
:root {
  --tribe-color-main-50: #fcfffe;
  --tribe-color-main-100: #fafffd;
  --tribe-color-main-200: #f8fffd;
  --tribe-color-main-300: #f6fffc;
  --tribe-color-main-400: #f4fffb;
  --tribe-color-main-500: #f2fffa;
  --tribe-color-main-600: #e5f4ef;
  --tribe-color-main-700: #beccc8;
  --tribe-color-main-800: #99a7a2;
  --tribe-color-main-900: #75827e;
  --tribe-color-surface-50: #ffffff;
  --tribe-color-surface-100: #f3f3f3;
  --tribe-color-surface-200: #e8e8e8;
  --tribe-color-surface-300: #dddddd;
  --tribe-color-surface-400: #d1d1d1;
  --tribe-color-surface-500: #c6c6c6;
  --tribe-color-surface-600: #bbbbbb;
  --tribe-color-surface-700: #b0b0b0;
  --tribe-color-surface-800: #a6a6a6;
  --tribe-color-surface-900: #9b9b9b;
  --tribe-color-alternative-50: #ffffff;
  --tribe-color-alternative-100: #ffffff;
  --tribe-color-alternative-200: #ffffff;
  --tribe-color-alternative-300: #ffffff;
  --tribe-color-alternative-400: #ffffff;
  --tribe-color-alternative-500: #ffffff;
  --tribe-color-alternative-600: #d1d1d1;
  --tribe-color-alternative-700: #a6a6a6;
  --tribe-color-alternative-800: #7c7c7c;
  --tribe-color-alternative-900: #555555;

  --tribe-color-actionPrimary-50: #ffebd2;
  --tribe-color-actionPrimary-100: #ffdbae;
  --tribe-color-actionPrimary-200: #ffcc8b;
  --tribe-color-actionPrimary-300: #fdbd67;
  --tribe-color-actionPrimary-400: #f7ae41;
  --tribe-color-actionPrimary-500: #f09f01;
  --tribe-color-actionPrimary-600: #cc8100;
  --tribe-color-actionPrimary-700: #a96400;
  --tribe-color-actionPrimary-800: #874900;
  --tribe-color-actionPrimary-900: #682e00;
  --tribe-color-actionSecondary-50: #fdfdfd;
  --tribe-color-actionSecondary-100: #fbfbfc;
  --tribe-color-actionSecondary-200: #f9f9fa;
  --tribe-color-actionSecondary-300: #f7f8f9;
  --tribe-color-actionSecondary-400: #f5f6f7;
  --tribe-color-actionSecondary-500: #f3f4f6;
  --tribe-color-actionSecondary-600: #c8c9ca;
  --tribe-color-actionSecondary-700: #9e9fa1;
  --tribe-color-actionSecondary-800: #767779;
  --tribe-color-actionSecondary-900: #515153;
  --tribe-color-actionAccent-50: #dce9f4;
  --tribe-color-actionAccent-100: #c0d7ec;
  --tribe-color-actionAccent-200: #a3c6e3;
  --tribe-color-actionAccent-300: #84b5da;
  --tribe-color-actionAccent-400: #62a4d2;
  --tribe-color-actionAccent-500: #3694c9;
  --tribe-color-actionAccent-600: #007caf;
  --tribe-color-actionAccent-700: #006596;
  --tribe-color-actionAccent-800: #004f7e;
  --tribe-color-actionAccent-900: #003966;
  --tribe-color-actionAccentHover-50: #f2d7fa;
  --tribe-color-actionAccentHover-100: #e7b7f5;
  --tribe-color-actionAccentHover-200: #da97f0;
  --tribe-color-actionAccentHover-300: #cc75ea;
  --tribe-color-actionAccentHover-400: #bd51e4;
  --tribe-color-actionAccentHover-500: #ac1fde;
  --tribe-color-actionAccentHover-600: #9600c9;
  --tribe-color-actionAccentHover-700: #8100b5;
  --tribe-color-actionAccentHover-800: #6c00a0;
  --tribe-color-actionAccentHover-900: #56008d;

  --tribe-color-basicMain-50: #c6c6c6;
  --tribe-color-basicMain-100: #9b9b9b;
  --tribe-color-basicMain-200: #727272;
  --tribe-color-basicMain-300: #4b4b4b;
  --tribe-color-basicMain-400: #282828;
  --tribe-color-basicMain-500: #000000;
  --tribe-color-basicMain-600: #000000;
  --tribe-color-basicMain-700: #000000;
  --tribe-color-basicMain-800: #000000;
  --tribe-color-basicMain-900: #000000;
  --tribe-color-basicSurface-50: #f9fafb;
  --tribe-color-basicSurface-100: #f3f4f6;
  --tribe-color-basicSurface-200: #e5e7eb;
  --tribe-color-basicSurface-300: #d1d5db;
  --tribe-color-basicSurface-400: #9ca3af;
  --tribe-color-basicSurface-500: #6b7280;
  --tribe-color-basicSurface-600: #4b5563;
  --tribe-color-basicSurface-700: #374151;
  --tribe-color-basicSurface-800: #1f2937;
  --tribe-color-basicSurface-900: #111827;
  --tribe-color-basicAlternative-50: #cfd3d2;
  --tribe-color-basicAlternative-100: #aab0af;
  --tribe-color-basicAlternative-200: #878f8d;
  --tribe-color-basicAlternative-300: #65706c;
  --tribe-color-basicAlternative-400: #45514e;
  --tribe-color-basicAlternative-500: #273531;
  --tribe-color-basicAlternative-600: #202e2a;
  --tribe-color-basicAlternative-700: #192723;
  --tribe-color-basicAlternative-800: #12201c;
  --tribe-color-basicAlternative-900: #0a1915;
  --tribe-color-basicPrimary-50: #ffffff;
  --tribe-color-basicPrimary-100: #ffffff;
  --tribe-color-basicPrimary-200: #ffffff;
  --tribe-color-basicPrimary-300: #ffffff;
  --tribe-color-basicPrimary-400: #ffffff;
  --tribe-color-basicPrimary-500: #ffffff;
  --tribe-color-basicPrimary-600: #d1d1d1;
  --tribe-color-basicPrimary-700: #a6a6a6;
  --tribe-color-basicPrimary-800: #7c7c7c;
  --tribe-color-basicPrimary-900: #555555;
  --tribe-color-basicSecondary-50: #d2d2d2;
  --tribe-color-basicSecondary-100: #b4b4b4;
  --tribe-color-basicSecondary-200: #969696;
  --tribe-color-basicSecondary-300: #7a7a7a;
  --tribe-color-basicSecondary-400: #5f5f5f;
  --tribe-color-basicSecondary-500: #454545;
  --tribe-color-basicSecondary-600: #313131;
  --tribe-color-basicSecondary-700: #2b2b2b;
  --tribe-color-basicSecondary-800: #252525;
  --tribe-color-basicSecondary-900: #1e1e1e;
  
  --tribe-color-neutral-0: #fff;

  --tribe-color-neutral-50: #f9fafb;
  --tribe-color-neutral-100: #f3f4f6;
  --tribe-color-neutral-200: #e5e7eb;
  --tribe-color-neutral-300: #d1d5db;
  --tribe-color-neutral-400: #9ca3af;
  --tribe-color-neutral-500: #6b7280;
  --tribe-color-neutral-600: #4b5563;
  --tribe-color-neutral-700: #374151;
  --tribe-color-neutral-800: #1f2937;
  --tribe-color-neutral-900: #111827;

  --tribe-color-neutral-1000: #000;


  --tribe-color-success-50: #ecfdf5;
  --tribe-color-success-100: #d1fae5;
  --tribe-color-success-200: #a7f3d0;
  --tribe-color-success-300: #6ee7b7;
  --tribe-color-success-400: #34d399;
  --tribe-color-success-500: #10b981;
  --tribe-color-success-600: #059669;
  --tribe-color-success-700: #047857;
  --tribe-color-success-800: #065f46;
  --tribe-color-success-900: #064e3b;
  --tribe-color-danger-50: #fef2f2;
  --tribe-color-danger-100: #fee2e2;
  --tribe-color-danger-200: #fecaca;
  --tribe-color-danger-300: #fca5a5;
  --tribe-color-danger-400: #f87171;
  --tribe-color-danger-500: #ef4444;
  --tribe-color-danger-600: #dc2626;
  --tribe-color-danger-700: #b91c1c;
  --tribe-color-danger-800: #991b1b;
  --tribe-color-danger-900: #7f1d1d;
  --tribe-color-warning-50: #fffbeb;
  --tribe-color-warning-100: #fef3c7;
  --tribe-color-warning-200: #fde68a;
  --tribe-color-warning-300: #fcd34d;
  --tribe-color-warning-400: #fbbf24;
  --tribe-color-warning-500: #f59e0b;
  --tribe-color-warning-600: #d97706;
  --tribe-color-warning-700: #b45309;
  --tribe-color-warning-800: #92400e;
  --tribe-color-warning-900: #78350f;
  --tribe-color-info-50: #eff6ff;
  --tribe-color-info-100: #dbeafe;
  --tribe-color-info-200: #bfdbfe;
  --tribe-color-info-300: #93c5fd;
  --tribe-color-info-400: #60a5fa;
  --tribe-color-info-500: #3b82f6;
  --tribe-color-info-600: #2563eb;
  --tribe-color-info-700: #1d4ed8;
  --tribe-color-info-800: #1e40af;
  --tribe-color-info-900: #1e3a8a;

  --tw-ring-color: var(--tribe-color-actionAccent-300);
  --tw-ring-offset-width: 2px;


  --tribe-typography-font-family-on-heading: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tribe-typography-font-family-on-body: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tribe-typography-font-size-xs: 0.75rem;
  --tribe-typography-font-size-xs-line-height: 1rem;
  --tribe-typography-font-size-xs-space-letter: 0em;
  --tribe-typography-font-size-sm: 0.875rem;
  --tribe-typography-font-size-sm-line-height: 1.25rem;
  --tribe-typography-font-size-sm-space-letter: 0em;
  --tribe-typography-font-size-base: 1rem;
  --tribe-typography-font-size-base-line-height: 1.5rem;
  --tribe-typography-font-size-base-space-letter: 0em;
  --tribe-typography-font-size-lg: 1.125rem;
  --tribe-typography-font-size-lg-line-height: 1.75rem;
  --tribe-typography-font-size-lg-space-letter: 0em;
  --tribe-typography-font-size-xl: 1.25rem;
  --tribe-typography-font-size-xl-line-height: 1.75rem;
  --tribe-typography-font-size-xl-space-letter: 0em;
  --tribe-typography-font-size-2xl: 1.5rem;
  --tribe-typography-font-size-2xl-line-height: 2rem;
  --tribe-typography-font-size-2xl-space-letter: 0em;
  --tribe-typography-font-size-3xl: 1.875rem;
  --tribe-typography-font-size-3xl-line-height: 2.25rem;
  --tribe-typography-font-size-3xl-space-letter: 0em;
  --tribe-typography-font-size-4xl: 2.25rem;
  --tribe-typography-font-size-4xl-line-height: 2.5rem;
  --tribe-typography-font-size-4xl-space-letter: 0em;
  --tribe-typography-font-size-5xl: 3rem;
  --tribe-typography-font-size-5xl-line-height: 1;
  --tribe-typography-font-size-5xl-space-letter: 0em;
  --tribe-typography-font-size-6xl: 3.75rem;
  --tribe-typography-font-size-6xl-line-height: 1;
  --tribe-typography-font-size-6xl-space-letter: 0em;
  --tribe-typography-font-size-7xl: 4.5rem;
  --tribe-typography-font-size-7xl-line-height: 1;
  --tribe-typography-font-size-7xl-space-letter: 0em;
}
